<!doctype html>
<html>
<head>
    <title>{{ module.title }}, preview</title>
    <style>
        {{ module.style.compiled | raw }}
    </style>
</head>
<body>
{{ module.markup.compiled | raw }}

<script type="text/javascript" src="/js/dependencies/libraries/require.js"></script>
<script>
    // require config
    requirejs.config( {
        baseUrl: '/js/dependencies/{{ module.id }}',
        paths:{
            lib:'../libraries'
        },
        shim:{
            'lib/terrific':{
                deps:['lib/jquery'],
                exports:'Tc'
            }
        }
    });

    require(["lib/jquery", "lib/terrific"], function() {
        {{ module.script.compiled | raw }}
    });

</script>
</body>
</html>